<nav class="navbar navbar-expand-lg navbar-dark py-sm-0 sticky-top" style="align-content: center;">
	<div class="container-fluid">
	
		  <a class="navbar-brand pl-md-5" href="/"><h2><b>Quiztron</b></h2></a>

		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  		<div class="d-flex ml-auto"> 
			    	<div class="navbar-nav">
						  <a class="nav-link" href="/"><h5>Home</h5><span class="sr-only">(current)</span></a>
						  <a class="nav-link" href="/explore"><h5>Explore</h5></a>
						  <a class="nav-link" href="/practice"><h5>Practice</h5></a>
						  <a id="navDashboard" class="nav-link" href="/dashboard"><h5>Dashboard</h5></a>
						  <a class="nav-link" href="/leaderboard"><h5>Leaderboard</h5></a>
					    <form method="POST"><a href="/logout" class="nav-link"><h5>Log out</h5></a></form> 
					      
					</div>
				</div>
		  </div>	
		  
	</div>

</nav>

