<%- include('partials/head') %>


<body>

	<%- include('partials/navbar1') %>		
		
	<div class="container m-md-5 p-sm-3">
		<h2 class="greet"><b>Welcome to Quiztron!</b></h2>
		<p class="lead">Dive in and unleash your potential...</p>
		<a class="btn btn-lg" style="background-color: rgba(245,173,73,1);" href="/register" role="button"><b>Get Started</b></a>
	</div>		

	<%- include('partials/footerLinks') %>
</body>
	
	
</html>